.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 185px;
  height: 100vh;
  padding: 16px;
  background-color: var(--sea-green);
  background-image: url('../../assets/imgs/vocab-middle.png');
  background-repeat: no-repeat;
  background-position: -79px bottom;
  background-size: 363px 318px;

  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.sidebar.open {
  transform: translateX(0%);
}

.userWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  color: var(--snow);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0;
}

.avatar {
  width: 36px;
  height: 36px;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.closeBtn > svg {
  width: 32px;
  height: 32px;
}

.navWrap {
  position: absolute;
  top: 27%;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}

.link,
.logOutBtn {
  color: var(--snow);
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0;
}

.link {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 15px;
  text-decoration: none;

  transform: translateX(-16px);
  transition: transform 0.4s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.link.active {
  color: var(--charcoal);
  background-color: var(--snow);
  transform: translateX(0);
}

.logOutBtn {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: transparent;
  border: none;
  padding: 0 0 0 4px;
}

.logOutBtn > svg {
  width: 16px;
  height: 16px;
}

@media screen and (min-resolution: 192dpi) {
  .sidebar {
    background-image: url('../../assets/imgs/vocab-middle@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 300px;
    padding: 20px 32px;
    background-image: url('../../assets/imgs/vocab-large.png');
    background-size: 498px 435px;
    background-position: -82px bottom;
  }

  .userInfo {
    gap: 16px;
  }

  .name {
    font-size: 20px;
    line-height: 28px;
  }

  .avatar {
    width: 48px;
    height: 48px;
  }

  .closeBtn {
    width: 40px;
    height: 40px;
  }

  .closeBtn > svg {
    width: 40px;
    height: 40px;
  }

  .navWrap {
    top: 24%;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .sidebar {
    background-image: url('../../assets/imgs/vocab-large@2x.png');
  }
}

@media screen and (min-width: 1440px) {
  .sidebar {
    display: none;
  }
}
