.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.text {
  opacity: 0.8;
}

.img {
  width: 247px;
  height: 191px;
  background-image: url('../../assets/imgs/vocab-small.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-resolution: 192dpi) {
  .img {
    background-image: url('../../assets/imgs/vocab-small@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .img {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    margin-top: -11px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
  }

  .img {
    width: 498px;
    height: 435px;
    display: block;
    background-image: url('../../assets/imgs/vocab-large.png');
    background-size: contain;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .img {
    background-image: url('../../assets/imgs/vocab-large@2x.png');
  }
}
