:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  --charcoal: #121417;
  --sea-green: #85aa9f;
  --sea-green-10: #85aa9f1a;
  --snow: #fcfcfc;
  --cloud: #f8f8f8;
  --pale-gray: #d1d5db;
  --lime: #3cbf61;
  --crimson: #d80027;
  color: var(--charcoal);
  background-color: var(--cloud);
}

section {
  padding: 0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  line-height: normal;
}

img {
  display: block;
  max-width: 100%;
}
